<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjy.simplewarehouse.dao.CargoMapper">

    <resultMap id="BaseResultMap" type="com.pjy.simplewarehouse.domain.entity.Cargo">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="manufacture" column="manufacture" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="houseId" column="house_id" jdbcType="INTEGER"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="ALL_Column">
        id,name,manufacture,
        number,category,house_id,
        picture,description
    </sql>

    <insert id="add">
        insert into cargo
        (name,manufacture,number,category,house_id,picture,description)
        values
        (#{name},#{manufacture},0,#{category},#{houseId},"",#{description})
    </insert>


    <select id="selectAll" resultType="com.pjy.simplewarehouse.domain.entity.Cargo">
        select  <include refid="ALL_Column"/>
        from cargo
    </select>

    <select id="selectByCategory" resultType="com.pjy.simplewarehouse.domain.entity.Cargo">
        select  <include refid="ALL_Column"/>
        from cargo
        <where>
            cargo.category= #{category}
        </where>
    </select>
    <select id="getCategoryList" resultType="java.lang.String">
        select distinct category
        from cargo
        where cargo.category!=''
    </select>
    <select id="search" resultType="com.pjy.simplewarehouse.domain.entity.Cargo">
        select <include refid="ALL_Column"/>
        from cargo
        <where>
            <if test="name!=null and name!=''">
                AND cargo.name=#{name}
            </if>
            <if test="houseId!=null and houseId!=''">
                AND cargo.house_id=#{houseId}
            </if>
            <if test="category!=null and category!=''">
                AND cargo.category=#{category}
            </if>
            <if test="manufacture!=null and manufacture!=''">
                AND cargo.manufacture=#{manufacture}
            </if>
            <if test="numberMin!=null">
                AND cargo.number &gt;= #{numberMin}
            </if>
            <if test="numberMax!=null">
                AND cargo.number &lt;= #{numberMax}
            </if>
        </where>

    </select>

</mapper>
